<h5 class="my-0 mr-md-auto font-weight-normal $blue-100" style="color: #ffffff">У Электроника</h5>
<nav class="ms-5">
    <a class="p-2 btn btn-primary btn-sm" href="/">Каталог</a>
    <a class="p-2 btn btn-primary btn-sm" href="/new_category/">Новая категория</a>
    <a class="p-2 btn btn-primary btn-sm" href="/new_product/">Новый продукт</a>
</nav>
{% if user.is_authenticated %}
<a class="p-2 btn btn-primary btn-sm" href="/users/logout/">Выйти</a>
{% else %}
<a class="p-2 btn btn-primary btn-sm" href="/users/register/">Регистрация</a>
<a class="p-2 btn btn-primary btn-sm" href="/users/login/">Войти</a>
{% endif %}
</nav>

