{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">У Электроника</h1>
    <p class="lead">Магазин "У Электроника" - это интернет магазин, предлагающий различную электронную бытовую
        технику</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Новый Пользователь</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Регистрация</button>
                <a href="{% url 'catalog:catalog' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock%}